
<!DOCTYPE html>
<html lang="en" ng-app="TornadoApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>INCF Engine</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/static/bower_components/bootstrap/assets/js/html5shiv.js"></script>
    <script src="/static/bower_components/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->

    <script src="/static/bower_components/jquery/jquery.js"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/bower_components/angular/angular.js"></script>

    <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
    <script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropins.js" id="dropboxjs" data-app-key="x6qincoqkfasqfz"></script>

    <link rel="stylesheet" type="text/css" href="/static/papaya_app/Papaya/build/papaya.css?version=0.6&build=48" />
    <script type="text/javascript" src="/static/papaya_app/Papaya/build/papaya.js?version=0.6&build=48"></script>

    <script src="/static/app.js"></script>

    <style>

        .content-header h1 {
            margin: 0;
            margin-left: 20px;
            line-height: 65px;
            display: inline-block;
        }

        .minspacing {
            min-height: 550px;
        }
        
        .graphspacing {
            min-height: 200px;
        }
        
    </style>

</head>


<body id="angular_id" ng-controller="ApplicationController">


<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<ul class="nav navbar-nav">
			<!--<li class="active"><a href="#">Link</a></li>-->
            <li><p class="navbar-text">INCF Engine</p></li>
            <li><a href="http://192.168.100.10:9001" target="_blank"><span class="icon-adjust"></span></a></li>
            <li><a href="http://192.168.100.10:9181" target="_blank"><span class="icon-list-ul"></span></a></li>
            <li><a href="http://192.168.100.10:8000" target="_blank"><span class="icon-circle"></span></a></li>
            <li><a href="/auth/logout" target="_self"><span class="icon-bolt"></span></a></li>
		</ul>

	</div>
</nav>

<div>
    <div class="col-md-12">

        <!-- Nav tabs -->
        <ul class="nav nav-pills">
          <li class="active"><a href="#home" data-toggle="tab" class="lead">Query</a></li>
          <li><a href="#profile" data-toggle="tab" class="lead">Filter</a></li>
          <li><a href="#messages" data-toggle="tab" class="lead">Process</a></li>
          <li><a href="#settings" data-toggle="tab" class="lead">Visualize</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <div class="well minspacing" id="queryContainer">
            </div>
          </div>


          <div class="tab-pane" id="profile">
            <div class="well minspacing" id="filterContainer">
            </div>
          </div>

          <div class="tab-pane" id="messages">
            <div class="well minspacing" id="processContainer">
            </div>
          </div>

          <div class="tab-pane" id="settings">
            <div class="well minspacing" id="vizualizeContainer">
            </div>
          </div>
        </div>
    </div>

    <div class="col-md-12">

        <div class="lead">Graph cache</div>
        <div class="well graphspacing" id="graphContainer">
        </div>

    </div>

</div>



</body>
</html>
